<div class="p-3 w-100 ">
    <h1>{{username}}'s Account</h1>
    <h2>Make a new post!</h2>
    {{> newpost}}
    <br>
    <h3>Your Posts:</h3>
    {{#each Posts}}
    <div class="card text-bg-tertiary mb-3 w-50 rounded-0 d-flex" style="min-width: 25%;">
    <div class="card-header">You Posted:</div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{post_text}}</p>
    </div>
    <p class="mx-3">
    <a class="btn btn-outline-light btn-sm" data-bs-toggle="collapse" href="#{{id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        Comments
    </a>
    </p>

    <div class="collapse m-3" id="{{id}}">
    {{!-- Create a div here under the collapsable section to enter text for a comment. --}}
    {{!-- Form section will have the id of the post to use in the js file for this --}}
    <form class="commentForm" id="{{id}}">
    <div class="mb-3 d-flex w-75">
        <label for="commentInput" class="form-label mx-3">Add a comment!</label>
        <input class="form-control bg-secondary text-light-emphasis w-50" id="commentInput">
        <button type="submit" class="btn btn-outline-primary btn-sm mx-3">Submit</button>
    </div>
    </form>
    {{#each Comments}}
    <div class="card card-body rounded-0">
        {{comment_text}}
    </div>
    {{/each}}
    </div>
    </div>
    {{/each}}



</div>

<script src="/js/dashboard.js"></script>